name: OWASP ZAP DAST

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    permissions:
      contents: read   # обовʼязково
      issues: none     # забороняємо створення Issue

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start Juice Shop (Docker)
        run: |
          docker run -d --name juice-shop -p 3000:3000 bkimminich/juice-shop
          # чекаємо поки сайт реально запуститься
          for i in {1..30}; do
            if curl -sSf http://localhost:3000 >/dev/null 2>&1; then
              echo "Juice Shop is UP"
              break
            fi
            echo "Waiting..."
            sleep 5
          done

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'http://localhost:3000'
          cmd_options: '-a -I'   # -I забороняє створювати GitHub Issue

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-report
          path: zap_report.html
